.chat-bot {
  margin: 20px;
  max-width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .chat-history {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 5px;
    flex-direction: column;

    border: 2px solid #0167ff;
    border-radius: 4px;
    background-color: #acacac;
    display: flex;

    padding: 10px;
  }

  .actions-container {
    border: 2px solid #0167ff;
    border-radius: 4px;
    background-color: #f8f8f8;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
  }

  .chat-input {
    position: sticky;
    bottom: 0;

    border: 2px solid #0167ff;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chat-input-field {
      color: #747474;
      font-size: 14px;
      background: none;
      border: none;
      padding: 10px;
      margin: 0;
      flex: 1;
      height: auto;
      outline: none;
    }

    .chat-input-button {
      border: none;
      background: none;
      color: #0066ff;
      cursor: pointer;

      &:hover {
        background-color: #bedaff;
      }
    }
  }
}